{% extends 'web/base.html' %}
{% block title %}Calificaciones{% endblock %}

{% block content %}

        <form action="{% url 'frontendAPP:formulario' %}" method="post">
            {% csrf_token %}
	    <fieldset>
                <legend>Crear calificación</legend>
            <table class="table">
                <tbody>
                    <tr>
                        <td><label for="id_usuario">ID Usuario:</label></td>
                        <td><input id="id_usuario" type="text" name="id_usuario" maxlength="100" required class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_calificado">ID Calificado:</label></td>
                        <td><input id="id_calificado" type="text" name="id_calificado" maxlength="100" class="form-control"></td>
                    </tr>

                    <tr>
                        <td><label for="calificacion">Calificación:</label></td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="calificacion" value="1" id="calificacion1">
                                <label class="form-check-label" for="calificacion1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="calificacion" value="2" id="calificacion2">
                                <label class="form-check-label" for="calificacion2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="calificacion" value="3" id="calificacion3">
                                <label class="form-check-label" for="calificacion3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="calificacion" value="4" id="calificacion4">
                                <label class="form-check-label" for="calificacion4">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="calificacion" value="5" id="calificacion5">
                                <label class="form-check-label" for="calificacion5">5</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_comentario">Comentario:</label></td>
                        <td><input id="id_comentario" type="text" name="comentario" maxlength="100" required class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_fecha">Fecha:</label></td>
                        <td><input id="id_fecha" type="date" name="fecha" required class="form-control"></td>
                    </tr>
                </tbody>
            </table>
            {% if mensaje %}
                <div style="margin-top: 20px;" class="alert alert-danger alert-dismissible d-inline-block">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <p>{{ mensaje }}</p>
                </div>
            {% endif %}

</fieldset>
            <button type="submit" class="btn btn-primary">Crear calificación</button>
        </form>
    </div>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for obj in response %}
        <div class="col mb-4">
            <div class="card">
                <div class="card-header">Calificación #{{ obj.id_calificacion }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ obj.id_usuario }} a {{ obj.id_calificado }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Nota: {{ obj.calificacion }}</h6>
                    <p class="card-text">{{ obj.comentario }}</p>
                </div>
                <div class="card-footer text-muted">{{ obj.fecha }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
